



/*navbar*/

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
	background-color: transparent;
	color: #999999;
	cursor: default;
}

.navbar-collapse.collapse {
	display: block!important;
}

.navbar-nav>li, .navbar-nav {
	float: left !important;
}

.navbar-nav.navbar-right:last-child {
	margin-right: -15px !important;
}

.navbar-right {
	float: right!important;
}
.navbar {
	z-index: 1700;
}


#navbarIconId{
	max-width:100px;
	margin-top: -7px;
	max-height:160%;
}
#navbarIconId:hover,
#navbarIconAId:hover{
	cursor: pointer;
}



/*select 2 stuff*/
.select2 {
	width: initial !important;
	margin: 11px !important;
}

.select2-selection {
	border: transparent !important;
	background-color: transparent !important;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	font-size: 14px !important;
}
.select2-selection__rendered {
	background-color: transparent !important;
	border-color: #222222 !important;
	color: #fff !important;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.select2-container {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	font-size: 14px !important;
}

/*override height of the dropdowns*/
.select2-results>.select2-results__options {
	max-height: 345px !important;
}

.select2-container--default .select2-selection--single {
	background-color: transparent;
}


.select2-container--open {
	z-index:2000 !important;
}

.searchIcon {
	color: #fff;
}


.normalFont {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	font-size: 14px !important;
}






 /*set the width on each selector*/
.collegeSelectContainer {
	width: 210px !important;
}
.termSelectContainer {
	width: 140px !important;
}
.subjectSelectContainer {
	width: 310px !important;
}
.classSelectContainer {
	width: 310px !important;
}


#nothingFound {
	color: #fff;
	margin-top: 15px;
	display: inline-block;
}




/*panels get a little shadow when you hover over them*/
.panel:hover{
	box-shadow: gray 0px 0px 6px;
}




/*inside an expanded panel*/

/*http://stackoverflow.com/questions/211383/which-method-of-clearfix-is-best*/
.lowerSectionInfo:after {
	content:"";
	display:table;
	clear:both;
}
.classPanelHead,.panelBodyId{
	white-space: normal;
}
.classSection {
	
	border-color: #ddd;
	border-width: 1px;
	border-radius: 4px 4px 0 0;
	border-style: solid;
	padding: 8px;
	background-color: #f7f7f9;
	display: inline-block;
	text-align: initial;
	
	margin: 13px;
	white-space: initial;
}

.classInfoContainer:after {
	content:"";
	display:table;
	clear:both;
	margin-bottom: 10px;
}



/*framework*/

.holderDiv {
	text-align: center;
}
.lineToParentLink,.lineToParentLink:focus{
	outline: 0;
	border:0 none;
}
.popover>.arrow{
	left: 50% !important;
}


/*some other stuff......?*/
.dropdown.dropdown-lg .dropdown-menu {
margin-top: -1px;
padding: 6px 20px;
}
.input-group-btn .btn-group {
display: flex !important;
}
.btn-group .btn {
border-radius: 0;
margin-left: -1px;
}
.btn-group .btn:last-child {
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
margin-left: 0;
margin-right: 0;
}
.form-group .form-control:last-child {
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}
.tooltip > .tooltip-inner {

font-size: 20px;
min-width: 165px;
}

@media screen and (min-width: 768px) {
#adv-search {
  width: 500px;
  margin: 0 auto;
}
.dropdown.dropdown-lg {
  position: static !important;
}
}






/*homepage*/
#selectYourCollegeId:hover {
	cursor:pointer;
}


#homepageId {
	white-space: initial;
	display: initial;
}
