<section class="fp-billboard fp-billboard-center fp-billboard-inline-small fp-education section">
    <figure class="fp-billboard-image image-macforeducation" style="background-image: url(&quot;images/background1_small.jpg&quot;);background-position: 60% 50%;"></figure>
    <div class="fp-billboard-wrapper">
        <div class="fp-section-content">
            <div class="fp-billboard-content large-6 large-offset-1 small-12 small-offset-0">
                <p class="fp-billboard-copy" style="font-size: 30px;font-weight: bold;margin-right: -332px;margin-bottom: -117px;margin-bottom: -33px;">Beta!</p>
                <img src="images/whitelogo.png" style="width:350px;position: relative;left: -10px;">
                <p class="fp-billboard-copy" style="font-size: 28px;">Plan For Success</p>
                <p class="fp-billboard-copy" style="font-size: 20px;padding-top: 13px;">
                    <a ng-click="self.openSelectors()">Select your College ></a>
                </p>

            </div>
        </div>
    </div>
</section>

<section class="fp-product fp-product-macbook-air section" style="padding-top: 140px;background: white;padding-bottom: 160px;">
    <div class="fp-section-content fp-product-content ">
        <div class="row">
            <div class="large-8 medium-6 small-12 large-offset-4 medium-offset-5 small-offset-0 column" style="left:10%;">
                <h2 class="fp-product-headline">
                    <font>
                        <font>Find your Path</font>
                    </font>
                </h2>
                <p class="fp-product-subheadline">Quickly see all the
                    <br> prerequisites for any class!</p>
                <span class="fp-moreblock fp-product-moreblock">
                    <a href="/#/graph/neu.edu/201630/MATH/4681">
                        <font>
                            <font>Check it out!</font>
                        </font>
                    </a>
                </span>
                <figure class="image-macbookair small-only"> </figure>
            </div>
        </div>
        <figure class="image-macbookair desktop-only" style="background-image: url(&quot;images/mbpr_largeflipped.png&quot;);"> </figure>
    </div>
</section>

<section class="fp-product fp-product-macbook-pro section" style="padding-top:135px; background:whitesmoke; padding-bottom:165px;">
    <div class="fp-section-content fp-product-content ">

        <div class="row" style="margin-left: -113px;">
            <div class="col-md-6">
                <div style="right:10%;">
                    <h3 class="fp-product-headline">All the Details</h3>
                    <p class="fp-product-subheadline">See course requirements, descriptions, class times, professors, and more!</p>
                    <span class="fp-moreblock fp-product-moreblock">
                        <a href="/#/graph/neu.edu/201610/CS/2500">Check it out!</a>
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <img src="/images/fundies.png" style="max-width: 125%;" />
            </div>
        </div>

    </div>
</section>


<section class="fp-product fp-product-macbook-air section" style="padding-top: 150px;padding-bottom: 150px; background:white;">
    <div class="fp-section-content fp-product-content ">
        <div class="row">
            <div class="large-8 medium-6 small-12 large-offset-4 medium-offset-5 small-offset-0 column">
                <h2 class="fp-product-headline">
                    <font>
                        <font>Don't Miss Out</font>
                    </font>
                </h2>
                <p class="fp-product-subheadline">Instant Notifications when spots&nbsp;open&nbsp;up.</p>
                <span class="fp-moreblock fp-product-moreblock">
                    <a href="javascript:void(0);">
                        <font>
                            <font>Coming Soon!</font>
                        </font>
                    </a>
                </span>
                <figure class="image-macbookair small-only"> </figure>
            </div>
        </div>
        <figure class="image-macbookair desktop-only" style="background-image: url(&quot;images/iphonenotification.png&quot;);"> </figure>
    </div>
</section>

<section class="fp-product fp-product-accessories section" style="background:whitesmoke; padding-top:140px; padding-bottom:150px; ">
    <div class="fp-section-content row">
        <div class="fp-product-content large-8 medium-8 small-12 large-centered small-centered column">
            <h2 class="fp-product-headline">Stay up to Date!</h2>
            <p class="fp-product-subheadline" style="font-size:30px; margin-top:10px;">Enter your Email to Recieve Updates on our newest&nbsp;features:</p>
            <span class="fp-moreblock fp-product-moreblock">
                <form ng-submit="self.subscribe(this)">
                    <input type="text" name="email" style="text-align: center; width: 400px;" ng-model="self.email">
                    <input type="submit" value="Subscribe" class="btn btn-primary" style="font-size:24px;position: absolute;right: -10px;top:74%;">
                </form>
            </span>
        </div>

        <div class="fp-product-content large-8 medium-8 small-12 large-centered small-centered column">
            <p class="fp-product-subheadline" style="font-size:30px; margin-top:10px">{{self.emailMsg}}</p>
        </div>

    </div>
</section>


<section class="fp-billboard fp-billboard-center fp-billboard-inline-small fp-education section" style="height:524px;">
    <figure class="fp-billboard-image image-macforeducation" style="background-image: url(&quot;images/background3_small.jpg&quot;);max-height: 524px;background-size: 100% 524px !important; margin-bottom: -76px"></figure>
    <div class="fp-billboard-wrapper">
        <div class="fp-section-content">
            <div class="fp-billboard-content large-6 large-offset-1 small-12 small-offset-0">
                <a class="btn btn-primary" ng-click="self.openSelectors()" role="button" style="font-size: 30px;">Search for Your College</a>
            </div>
        </div>
    </div>
</section>



<footer class="bs-docs-footer" role="contentinfo" style="margin-top:0px;">
    <div class="row" style="max-width: 500px;margin: 0 auto;">
        <div class="span6">
            <p>Designed and built by Ryan Hughes</p>
        </div>
        <div class="span6">
            <p>
                <a href="mailto:coursepro@coursepro.io"> coursepro@coursepro.io </a>
            </p>
        </div>
    </div>


</footer>
