<style type="text/css">
body {
    overflow: hidden
}
</style>

<div search style="z-index: 2;position: relative;" ng-show="homepage.showSearch">
</div>

<!-- <div style="background-color:blue"></div>  -->

<section class="fp-billboard fp-billboard-center fp-billboard-inline-small fp-education section">
    <figure class="fp-billboard-image image-macforeducation" style="background-image: url(&quot;images/background1_small.jpg&quot;);background-position: 60% 50%;min-height: 100vh"></figure>
    <div class="fp-billboard-wrapper">
        <div class="fp-section-content">
            <div class="fp-billboard-content large-6 large-offset-1 small-12 small-offset-0">
                <img src="images/whitelogo.png" style="width:350px;position: relative;left: -10px;">
                <p class="fp-billboard-copy" style="font-size: 28px;">Plan For Success</p>


                <p ng-if="!user.getValue(macros.LAST_SELECTED_COLLEGE)" class="fp-billboard-copy" style="font-size: 20px;padding-top: 13px;">
                    <a ng-click="homepage.openCollegeSelector()">Select your College></a>
                </p>

                <p ng-if="!user.getValue(macros.LAST_SELECTED_TERM) && user.getValue(macros.LAST_SELECTED_COLLEGE)" class="fp-billboard-copy" style="font-size: 20px;padding-top: 13px;">
                    <a ng-click="homepage.openTermSelector()">Select your Term></a>
                </p>

                <div ng-if="user.getValue(macros.LAST_SELECTED_TERM) && user.getValue(macros.LAST_SELECTED_COLLEGE)" class="input-group" style="margin: 0 auto;">
                    <input type="text" id="homepageSearchInputId" class="form-control" placeholder="{{homepage.getPlaceholderText()}}" ng-model="homepage.searchText" ng-change="homepage.focusSearch($event)" style="width: 300px;height: 45px;margin-top: 4px;" ng-style="{'visibility':homepage.showSearch?'hidden':''}">
                </div>

            </div>
        </div>
    </div>
</section>
