 
body {
  position: relative;
}

html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

h2,
h3,
p,
figure,
input {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

footer,
nav,
section,
figure {
  display: block;
}

button {
  border: 0;
  font: inherit;
  vertical-align: middle;
}

html {
  font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 112.5%;
}

body {
  font-size: 18px;
  line-height: 1.45;
  font-weight: 400;
  letter-spacing: normal;
  background-color: #fff;
  color: #333;
  font-style: normal;
}

body,
input,
select,
button {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
}

a {
  color: #08c;
}

a:visited,
a:link,
a:active {
  text-decoration: none;
}

h2,
h3 {
  margin: 0 0 0.45em 0;
}

p {
  margin: 0 0 1em 0;
}

.row {
  position: relative;
  z-index: 1;
}

.row:before,
.row:after {
  content: ' ';
  display: table;
}

.row:after {
  clear: both;
}

.column {
  position: relative;
  z-index: 1;
  min-height: 2px;
  margin: 0;
  padding: 0;
  float: left;
}

p {
  margin-bottom: 8px;
}

.homepage-section-content {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
  height: 100%;
}

.homepage-logo {
  position: relative;
  z-index: 1;
  margin-bottom: 7px;
}

.homepage-logo,
.homepage-logo a {
  color: #fff;
}

.homepage-logo-wrapper {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.homepage-logo-content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}

.homepage-logo-center {
  text-align: center;
}

.homepage-logo-center .homepage-logo-content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.homepage-logo-center {
  margin-left: auto;
  margin-right: auto;
}

.homepage-logo {
  padding-top: 0;
  padding-bottom: 0;
}
