<!--search -->
<div class="input-group" id="adv-search" style="display: inline-block;float: right;width: 32px;padding-top: 10px;    position: absolute;right: 0px;    top: 0px;">
    <div class="input-group-btn">
        <div class="btn-group" role="group">
            <div class="dropdown dropdown-lg" search-dropdown="#searchDropdown">
                <button type="button" class="btn btn-default" id="searchIcon" aria-expanded="false" style="background-color: transparent;border: transparent;">
                    <span class="glyphicon glyphicon-search searchIcon"></span>
                </button>

                <div class="dropdown-menu dropdown-menu-right" role="menu" style="width: 250px;padding-right: 48px;padding-left: 10px;" id="searchDropdown">
                    <div style="padding-bottom: 5px;">
                        <span ng-if="!termText || !subjectText"> Select a term and subject
                            <br> before searching !</span>
                        <span ng-if="termText && subjectText">Search in {{termText}}
                            <br> {{subjectText}} ! </span>
                    </div>

                    <form>
                        <input class="form-control" type="text" ng-model="search.searchText"></input>
                        <button type="submit" class="btn btn-primary" ng-click="search.searchFromEntry()">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
