
<uib-accordion close-others="false">
	<uib-accordion-group is-open="isOpen" ng-repeat="class in classes">
		<uib-accordion-heading>

			<span class="glyphicon" ng-class ="isOpen?'glyphicon-chevron-down':'glyphicon-chevron-right'" aria-hidden="true" style="color: gray;"></span>

			{{class.subject}} {{class.classId}}&nbsp;&nbsp;{{class.name}}
			
			<span list-icon = 'saved'    toggle="class" class="rightIcon" ></span>
			<span list-icon = 'watching' toggle="class" class="rightIcon" ></span>

			<a ng-href = "/#/graph/{{class.host}}/{{class.termId}}/{{class.subject}}/{{class.classId}}">
				<span uib-tooltip="View Prerequisites" 
				tooltip-class="listIconTooltip" 
				tooltip-append-to-body = "true" 
				style="float: right;padding-right: 6px;margin-top: -2px;opacity: .7;">
					<img src="/images/tree.png">
				</span>
			</a>


		</uib-accordion-heading>

		{{class.desc}}
		<table class="table table-striped" ng-if="class.sections.length>0">
			<thead>
				<tr>
					<th><span uib-tooltip="Course Reference Number" tooltip-class="listIconTooltip" tooltip-append-to-body = "true">CRN</span></th>
					<th>Professor</th>
					<th>Start Time</th>
					<th>Open Seats/Total Seats</th>
					<th ng-if="class.hasWaitList">Open/Total Waitlist Seats</th>
					<th>Location</th>
					<th>URL</th>
					<th>Email<br>Notifications</th>
					<th>Saved</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="section in class.sections">
					<td>{{section.crn}}</td>
					<td>
						<span ng-repeat = "prof in section.profs">{{prof}}</span>
					</td>
					<td>{{section.startTimesStrings}}</td>
					<td>{{section.seatsRemaining}}/{{section.seatsCapacity}}</td>
					<td ng-if="section.hasWaitList">{{section.waitRemaining}}/{{section.waitCapacity}}</td>
					
					<td>
						<span ng-repeat = "location in section.locations">

							<span ng-if="location != 'Tba' || section.locations.length <= 1"> {{location}} </span>

						</span>
					</td>

					<td><a href="{{section.url}}" target="_blank">View on {{section.host}}</a></td>

					<td>
					<span  list-icon = 'watching' toggle="section" ></span>
					</td>

					<td>
					<span  list-icon = 'saved' toggle="section" ></span>
					</td>
				</tr>
			</tbody>
		</table>
		<div ng-if="class.sections.length==0">
			<br>No sections found
		</div>
	</uib-accordion-group>
</uib-accordion>