body {
	padding-top: 0px;
}
header {
	margin-bottom: 0px;
}
h1 {
	font-family: "Quicksand",sans-serif; font-size: 45px; font-weight: 300; margin-top: 5px; margin-bottom: 5px;
}
h1 span {
	vertical-align: middle;
}
#school-select {
	padding: 5px; color: rgb(255, 255, 255); line-height: 1em; letter-spacing: 3px; font-family: "Lato",sans-serif; font-size: 25px; font-weight: 300; background-color: rgb(16, 117, 163);
}
.search-field {
	color: rgb(221, 221, 221); display: inline-block; position: relative;
}
.search-field input {
	border-radius: 4px; border: 0px rgba(255, 255, 255, 0.5); border-image: none; width: 250px; height: 40px; color: rgb(51, 51, 51); line-height: 20px; padding-top: 10px; padding-right: 30px !important; padding-bottom: 10px; padding-left: 10px; font-family: "Lato",sans-serif; font-size: 16px; font-weight: 300; background-color: rgb(255, 255, 255);
}
.search-field input:focus {
	
}
.search-field input:-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.25);
}
.search-field::before {
	top: 0px; right: 0px; bottom: 0px; color: rgba(0, 0, 0, 0.25); line-height: 40px; padding-right: 5px; font-family: icomoon; font-size: 16px; vertical-align: bottom; position: absolute; content: "\F002";
}
#masthead {
	padding: 30px; color: rgb(255, 255, 255); font-family: "Lato",sans-serif; background-color: rgb(34, 179, 246);
}
#masthead h1 {
	font-family: "Quicksand",sans-serif; font-size: 45px;
}
#masthead h2 {
	font-family: "Lato",sans-serif;
}
#masthead h3 {
	font-family: "Lato",sans-serif;
}
#masthead h3 {
	line-height: 1.4em; font-size: 1.3em;
}
.university-box {
	padding: 10px 10px 20px; width: 33%; font-family: "Lato",sans-serif; font-weight: 300; vertical-align: top; display: inline-block;
}
.university-box h1 {
	font-family: inherit; font-size: 1.75em; font-weight: inherit; margin-top: 5px;
}
.university-box h2 {
	color: rgb(136, 182, 221); font-family: inherit; font-size: 1em; font-weight: inherit;
}
.university-box:hover {
	border-color: rgb(204, 204, 204) rgb(170, 170, 170) rgb(170, 170, 170) rgb(204, 204, 204); text-decoration: none; background-color: rgb(249, 249, 249);
}
#terms li.term {
	list-style: none; padding: 5px 5px 5px 20px; color: rgb(255, 255, 255); font-family: Lato; font-size: 30px;
}
#terms li.term:hover {
	background-color: rgba(0, 0, 0, 0.25);
}
#terms li.term a {
	color: rgb(255, 255, 255);
}
#terms li.term a:hover {
	text-decoration: none;
}
#terms ul {
	padding-left: 0px;
}
