@font-face {
	font-family: Quicksand;
	src: url(/font/quicksand/light.eot?#iefix) format("embedded-opentype"), url(/static/7d26ce/font/quicksand/light.woff) format("woff"), url(/static/833b68/font/quicksand/light.ttf) format("truetype"), url(/font/quicksand/light.svg#quicksandlight) format("svg");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Lato;
	src: url(/static/34f4fb/font/lato/LatoLatinLight-Regular.woff) format("woff"), url(/static/646c37/font/lato/LatoLatinLight-Regular.ttf) format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: icomoon;
	src: url(/font/icomoon/icomoon.eot?#iefixqodof6) format("embedded-opentype"), url(/font/icomoon/icomoon.woff?qodof6) format("woff"), url(/font/icomoon/icomoon.ttf?qodof6) format("truetype"), url(/font/icomoon/icomoon.svg?qodof6#icomoon) format("svg");
	font-weight: normal;
	font-style: normal;
}
.btn-facebook {
	border-color: rgb(78, 105, 162); color: rgb(255, 255, 255); background-color: rgb(78, 105, 162);
}
.btn-facebook:hover {
	border-color: rgb(70, 94, 146); background-color: rgb(74, 100, 154);
}
.multi-state-button .hover {
	display: none;
}
.multi-state-button:hover .hover {
	display: inline-block;
}
.multi-state-button:hover .regular {
	display: none;
}
@media all and (min-width:1200px)
{
.container {
	max-width: 980px;
}
}
body {
	padding-top: 60px;
}
.tooltip {
	white-space: nowrap;
}
.navbar {
	color: rgb(255, 255, 255); background-color: rgb(9, 178, 249);
}
.navbar-fixed-top {
	border: 0px currentColor; border-image: none;
}
.navbar-nav > li > a {
	color: rgb(255, 255, 255);
}
.navbar-nav > li > a:hover {
	color: rgb(0, 0, 63); background-color: rgb(136, 193, 255);
}
.navbar-nav > li > a:focus {
	color: rgb(0, 0, 63); background-color: rgb(136, 193, 255);
}
.navbar-brand {
	color: rgb(255, 255, 255);
}
.navbar-brand a {
	color: rgb(255, 255, 255);
}
.navbar-brand a:hover {
	text-decoration: none;
}
.navbar-brand a:focus {
	text-decoration: none;
}
.navbar-brand:hover {
	color: inherit;
}
.navbar-brand:focus {
	color: inherit;
}
.navbar-nav > .dropdown > a .caret {
	border-top-color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255);
}
.nav .open > a {
	border-color: rgb(66, 139, 202); color: rgb(0, 0, 63); background-color: rgb(136, 193, 255);
}
.nav .open > a:hover {
	border-color: rgb(66, 139, 202); color: rgb(0, 0, 63); background-color: rgb(136, 193, 255);
}
.nav .open > a:focus {
	border-color: rgb(66, 139, 202); color: rgb(0, 0, 63); background-color: rgb(136, 193, 255);
}
.dropdown-menu {
	border: 1px solid rgba(0, 0, 0, 0.05); border-image: none;
}
html {
	-ms-overflow-y: auto;
}
h1 {
	font-family: "Quicksand",sans-serif; font-size: 25px; font-weight: 300; margin-top: 5px; margin-bottom: 5px;
}
a {
	cursor: pointer;
}
hr.or {
	overflow: visible; position: relative;
}
hr.or::after {
	padding: 1px; left: 50%; top: -12px; height: 1em; color: rgb(187, 187, 187); position: absolute; content: "or"; background-color: rgb(255, 255, 255);
}
header {
	padding: 5px; color: rgb(255, 255, 255); margin-bottom: 10px; background-color: rgb(0, 177, 253);
}
footer {
	padding: 10px; font-size: 20px; border-top-color: rgb(229, 229, 229); border-top-width: 1px; border-top-style: solid;
}
footer a:hover {
	text-decoration: none;
}
form label {
	font-weight: bold;
}
.form-error {
	color: rgb(200, 0, 0); padding-top: 5px;
}
.navbar {
	font-family: "Lato",sans-serif; font-weight: 300;
}
.navbar-brand {
	font-weight: 300;
}
.tagline {
	font-weight: 300;
}
.co-dialog-top {
	transition:height 0.15s; top: 50px; width: 100%; position: fixed; z-index: 1000; -ms-overflow-y: hidden; opacity: 0.98; box-shadow: 0px 2px 5px 0px #ddd; background-color: rgb(238, 238, 238); -webkit-transition: height .15s ease; -webkit-box-shadow: 0 2px 5px 0 #ddd; -moz-transition: height .15s ease; -o-transition: height .15s ease;
}
.co-dialog-top .close {
	padding: 15px;
}
.alert-error {
	border-color: rgb(235, 204, 209); color: rgb(185, 74, 72); background-color: rgb(242, 222, 222);
}
.li-icon a {
	padding-left: 6px !important;
}
.li-icon a [class^='icon-'] {
	width: 15px; text-align: right; margin-right: 5px; display: inline-block;
}
.tip .tip-inner {
	padding: 8px; border-radius: 4px; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.8); -webkit-border-radius: 4px;
}
.tip.popover {
	padding: 10px;
}
.popover .tip-inner {
	padding: 0px; border-radius: 4px; border: 1px solid rgba(0, 0, 0, 0.2); border-image: none; color: rgb(0, 0, 0); z-index: 1; max-width: 276px; background-color: rgb(255, 255, 255); -webkit-border-radius: 4px;
}
.popover .title {
	padding: 10px 15px; background-color: rgb(247, 247, 247);
}
.popover .body {
	padding: 10px 15px;
}
.popover .tip-arrow {
	border: 10px dashed rgba(0, 0, 0, 0.2); border-image: none; width: 0px; height: 0px; line-height: 0; position: absolute;
}
.popover .tip-arrow::after {
	border: 10px solid transparent; left: 0px; width: 0px; height: 0px; margin-left: -10px; display: block; position: absolute; content: " ";
}
.tip-bottom.popover .tip-arrow::after {
	bottom: -11px; border-bottom-color: rgb(247, 247, 247);
}
.tip-top.popover .tip-arrow::after {
	top: -11px; border-top-color: rgb(255, 255, 255);
}
.avatar {
	background-position: center; background-image: url("/static/f2cc1e/css/images/avatar-default.svg"); background-repeat: no-repeat;
}
.social-icon {
	width: 32px; height: 32px; display: inline-block;
}
[class^='icon-'] {
	text-transform: none; line-height: 1; font-family: "icomoon"; font-style: normal; font-variant: normal; font-weight: normal; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
[class*=' icon-'] {
	text-transform: none; line-height: 1; font-family: "icomoon"; font-style: normal; font-variant: normal; font-weight: normal; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.icon-info-sign::before {
	content: "\e602";
}
.icon-remove::before {
	content: "\e600";
}
.icon-ok::before {
	content: "\e601";
}
.icon-check::before {
	content: "\e604";
}
.icon-search::before {
	content: "\f002";
}
.icon-envelope-alt::before {
	content: "\f003";
}
.icon-lock::before {
	content: "\f023";
}
.icon-print::before {
	content: "\f02f";
}
.icon-list::before {
	content: "\f03a";
}
.icon-thumb-tack::before {
	content: "\f08d";
}
.icon-twitter::before {
	content: "\f099";
}
.icon-facebook::before {
	content: "\f09a";
}
.icon-globe::before {
	content: "\f0ac";
}
.icon-wrench::before {
	content: "\f0ad";
}
.icon-group::before {
	content: "\f0c0";
}
.icon-bars::before {
	content: "\f0c9";
}
.icon-google-plus::before {
	content: "\f0d5";
}
.icon-caret-down::before {
	content: "\f0d7";
}
.icon-caret-up::before {
	content: "\f0d8";
}
.icon-exchange::before {
	content: "\f0ec";
}
.icon-spinner::before {
	content: "\f110";
}
.icon-code-fork::before {
	content: "\f126";
}
.icon-calendar-o::before {
	content: "\f133";
}
.icon-share::before {
	content: "\e603";
}
