<div graph-panel-expand ng-click="graphPanelExpand.onPanelClick(node)">

    <!-- main panel -->
    <div class="panel {{node.wouldSatisfyNode?'panel-info':'panel-primary'}} treePanel" ng-if="node.isClass" panel-close=".closePanel">

        <div class="panel-heading">

            <span ng-show="node.isExpanded" style="float: right;margin-top: -5px;margin-right: -10px;font-size: 17px;color:white">

                <!-- was 48 -->
                <!-- <div ng-if="node.class.dataStatus !== macros.DATASTATUS_FAIL" ng-init="class = node.class" list-icon='{{macros.SAVED_LIST}}' toggle-sections='true' toggle='class' style="display:inline-block;margin-right: 6px;"></div> -->

                <a href="{{::node.class.prettyUrl}}" target="_blank">
                    <div class="glyphicon glyphicon-globe" uib-tooltip="View on {{::node.class.host}}" tooltip-class="listIconTooltip" tooltip-append-to-body="true" style="margin-right:4px;color:white">
                    </div>
                </a>


                <span ng-if="graphPanelExpand.canClosePanel(node)" class="glyphicon glyphicon-remove" ng-click="graphPanelExpand.closePanel(node);$event.stopPropagation();" aria-hidden="true" style="cursor: pointer;display:inline-block;" uib-tooltip="Close (Esc)" tooltip-class="listIconTooltip" tooltip-append-to-body="true"></span>
                <!-- <div ng-init="class = node.class" list-icon='{{macros.WATCHING_LIST}}' toggle-sections='true' toggle='class' style="position: absolute;top: 5px;right: 27px;"></div> -->
            </span>

            <h3 class="panel-title" style="text-align: center;width: 90%;margin: 0 auto;">

                <span ng-if="node.class.isString">{{::node.class.desc}} </span>

                {{::node.class.subject}} {{::node.class.getPrettyClassId()}}
                <br/> {{::node.class.name}}
            </h3>


        </div>

        <!-- only the panel body changes on node.isExpanded -->
        <div ng-if="node.isExpanded" class="panel-body panelBodyId" style="line-height: 14px;width:100%;padding: 0;padding-top: 15px;" ng-style="{'width':panelWidth+'px'}">
            <div ng-if="::node.class.dataStatus === macros.DATASTATUS_DONE || node.class.isString">
                <div style="margin-left: 15px;margin-right: 15px;padding-bottom: 12px;" ng-if="!node.class.isString">
                    <div style="white-space: normal;margin-bottom:10px;line-height:15px">
                        {{node.class.desc}}
                    </div>


                    <div>
                        <div style="text-align: left;display: inline-block;line-height: 15px;width: 80%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap">

                            <span>Prerequisites: {{node.class.getPrereqsString()}}</span>
                            <br/>
                            <span>Corequisites: {{node.class.getCoreqsString()}}</span>
                        </div>
                        <div style="text-align: right; display: inline-block; float: right; white-space: normal; max-width: 50%; min-width: 53px;">
                            <span ng-if="::node.class.getLastUpdateString()">
                                Updated {{::node.class.getLastUpdateString()}}
                            </span>
                            <br>
                            <span ng-if="node.class.maxCredits">
                                <span ng-if="node.class.maxCredits === node.class.minCredits">
                                    {{node.class.maxCredits}}
                                </span>
                                <span ng-if="node.class.maxCredits !== node.class.minCredits">
                                    {{node.class.minCredits}} to {{node.class.maxCredits}}
                                </span>
                                credits
                            </span>
                        </div>
                    </div>
                </div>

                <div style="width:100%;border-top: 1px solid #ddd;height: 17px;" ng-if="!node.class.isString"></div>

                <!-- <div height="10px"></div> -->

                <!--  -->
                <div class="row" ng-if="node.lowestParent && (node.wouldSatisfyNode || graphPanelExpand.getNodeIsSelected(node))" style="margin-bottom: 28px;line-height: 16px;">
                    <div class="col-md-8 actionTextContainer">
                        <span style="font-size:18px">Use this class to satisfy the prerequisites of {{node.getParentString()}}?</span>
                        <br>
                        <span>Instead of this class, you could also pick {{node.neightborsString}}</span>
                        <br>
                        <a href="" ng-click="graph.openSelectHelpModel()">Learn more</a>
                    </div>
                    <div class="col-md-3" style="position: inherit;display: inline-block;">
                        <input bs-switch ng-model="graphPanelExpand.selectedFun(node)" type="checkbox" ng-model-options="{ getterSetter: true }" switch-on-text="YES" switch-off-text="NO">
                    </div>
                </div>

                <div class="row" style="margin-bottom: 23px;line-height: 16px;" ng-if="!node.class.isString">
                    <div class="col-md-8 actionTextContainer">
                        <span style="font-size:18px">Get notified when seats open up!</span>
                        <br>
                        <span ng-if="!user.getListIncludesClass(macros.WATCHING_LIST, node.class,5)">We check frequently and will email you if any seats open up.</span>

                        <span ng-if="user.getListIncludesClass(macros.WATCHING_LIST, node.class,5)">
                            Update emails will be sent to
                            <span style="font-weight:bold;">{{user.dbData.email}}</span> !
                        </span>
                        <br>
                        <!-- <span>
                            <a href="">Learn more</a> -->
                    </div>
                    <div class="col-md-3" style="position: inherit;display: inline-block;">
                        <input bs-switch ng-model="graphPanelExpand.watchingFunc(node)" type="checkbox" ng-model-options="{ getterSetter: true }">
                    </div>
                </div>



                <div style="width:100%;border-bottom: 1px solid #ddd;"></div>

                <div ng-if="node.class.sections.length === 0" style="padding:12px">No sections in {{node.class.name}} this term.</div>
                <div ng-if="node.class.sections.length>0">
                    <div style="font-size: 18px;padding: 15px 15px 10px 15px;">Sections in {{node.class.name}}</div>
                    <table class="table table-striped" style="margin-bottom:0">
                        <thead>
                            <tr>
                                <th>
                                    <span uib-tooltip="Course Reference Number" tooltip-class="listIconTooltip" tooltip-append-to-body="true">CRN</span>
                                </th>
                                <th>
                                    <ng-pluralize count="node.class.getHeighestProfCount()" when="{'1':'Professor','other':'Professors'}"></ng-pluralize>
                                </th>

                                <th>Weekdays</th>
                                <th>Start</th>
                                <th>End</th>
                                <th>Location</th>
                                <th ng-if="node.class.sectionsHaveExam()">Exam start</th>
                                <th ng-if="node.class.sectionsHaveExam()">Exam end</th>
                                <th ng-if="node.class.sectionsHaveExam()">Exam date</th>
                                <th>

                                    <span uib-tooltip="Open Seats/Total Seats" tooltip-class="listIconTooltip" tooltip-append-to-body="true">
                                        Seats
                                    </span>

                                </th>
                                <th ng-if="node.class.getHasWaitList()">Open/Total Waitlist Seats</th>
                                <th>Link</th>
                                <!-- <th>Email
                        <br>Notifications</th> -->
                                <!-- <th>Saved</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="section in node.class.sections.slice(0, node.showingSectionCount)">
                                <td>{{::section.crn}}</td>
                                <td>{{::section.getProfs().join(', ')}}</td>
                                <td style="white-space: nowrap;">
                                    <span ng-if="section.dataStatus == macros.DATASTATUS_DONE">

                                        <!-- avoid calculating the string more than once -->
                                        <span ng-init="toolTipString = section.getWeekDaysAsStringArray().length == 0?'No meetings found':'Meets on '+section.getWeekDaysAsStringArray().join(', ')" uib-tooltip="{{toolTipString}}" tooltip-class="weekDayToolTip" tooltip-append-to-body="true">

                                            <div ng-if="::section.meetsOnWeekends()" class="weekDayBox" ng-repeat="weekDay in ::section.getWeekDaysAsBooleans()  track by $index" ng-class="weekDay?'weekDayBoxChecked':''">
                                            </div>

                                            <div ng-if="::(!section.meetsOnWeekends())" class="weekDayBox" ng-repeat="weekDay in ::section.getWeekDaysAsBooleans().slice(1,6)  track by $index" ng-class="weekDay?'weekDayBoxChecked':''">

                                            </div>
                                        </span>
                                    </span>
                                </td>

                                <td>{{::section.getUniqueStartTimes().join(", ")}}</td>
                                <td>{{::section.getUniqueEndTimes().join(", ")}}</td>

                                <td>
                                    <span ng-repeat="location in ::section.getLocations()">
                                        <span ng-if="location != 'TBA' || section.getLocations().length <= 1">{{::location}}</span>
                                        <span ng-if="!$last">,&nbsp;</span>
                                    </span>
                                </td>


                                <td ng-if="node.class.sectionsHaveExam()">{{::section.getExamMoments().start.format('h:mm a')}}</td>
                                <td ng-if="node.class.sectionsHaveExam()">{{::section.getExamMoments().end.format('h:mm a')}}</td>
                                <td ng-if="node.class.sectionsHaveExam()">{{::section.getExamMoments().start.format('MMM Do')}}</td>

                                <td>

                                    <!-- don't display the "/" until these are loaded -->
                                    <span ng-if="::(section.seatsRemaining || section.seatsCapacity)" uib-tooltip="Open Seats/Total Seats" tooltip-class="listIconTooltip" tooltip-append-to-body="true">
                                        {{::section.seatsRemaining}}/{{::section.seatsCapacity}}
                                    </span>

                                </td>


                                <td ng-if="node.class.getHasWaitList()">

                                    <!-- don't display the "/" until these are loaded -->
                                    <span ng-if="::section.waitRemaining || ::section.waitCapacity">
                                        {{::section.waitRemaining}}/{{::section.waitCapacity}}
                                    </span>


                                    <!-- don't display the "/" until these are loaded -->
                                    <span ng-if="!section.waitRemaining && !section.waitCapacity">
                                        0/0
                                    </span>



                                </td>

                                <td>
                                    <a href="{{::section.url}}" target="_blank">
                                        <div style="color:black" class="glyphicon glyphicon-globe" uib-tooltip="View on {{::node.class.host}}" tooltip-class="listIconTooltip" tooltip-append-to-body="true">
                                        </div>
                                    </a>
                                </td>
                                <!-- 
                    <td>
                        <span list-icon='{{macros.WATCHING_LIST}}' toggle="section"></span>
                    </td> -->

                                <!-- <td>
                                <span list-icon='{{macros.SAVED_LIST}}' toggle="section" style="padding-left: 11px;"></span>
                            </td> -->
                            </tr>
                        </tbody>
                    </table>

                    <div ng-if="node.showingSectionCount<node.class.sections.length" class="showMoreButton" ng-click="graphPanelExpand.increaseShowing(node)">
                        Show More..
                    </div>
                </div>

            </div>

            <div ng-if="::node.class.dataStatus === macros.DATASTATUS_FAIL">

                0 sections this term
                <div style="white-space: normal;">
                    An error occured while fetching the information for this class :/
                </div>
            </div>
        </div>


        <!-- !node.isExpanded must be watching (no ::) -->
        <div ng-if="!node.isExpanded" class="panel-body panelBodyId" style="line-height: 14px;padding-bottom:8px">
            <div ng-if="node.isCoreq" style="padding-bottom:7px">
                Coreq of {{node.lowestParent.class.subject}} {{node.lowestParent.class.classId}}

            </div>
            <div ng-if="!node.isCoreq" style="text-align: center;">
                <div ng-if="node.wouldSatisfyNode && !user.getListIncludesClass(macros.SELECTED_LIST, node.class)" style="padding-bottom:7px">
                    <div ng-if="::node.class.dataStatus===macros.DATASTATUS_FAIL">0 sections this term</div>

                    <ng-pluralize ng-if="::node.class.dataStatus!==macros.DATASTATUS_FAIL" count="::node.class.crns.length" when="{'1':'{} section this term','other':'{} sections this term'}"></ng-pluralize>
                </div>

                <div ng-if="!node.wouldSatisfyNode || user.getListIncludesClass(macros.SELECTED_LIST, node.class)">
                    <div ng-if="node.prereqs.values.length === 0" style="padding-bottom:7px">
                        <div ng-if="node.class.prereqs.values.length === 0">
                            No Prerequisites
                        </div>
                    </div>
                    <div ng-if="node.prereqs.values.length !== 0">
                        <div>
                            Prerequisites
                        </div>
                        <div style="height:8px"></div>

                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
