

<!-- cant use uiselect because of performance issues http://plnkr.co/edit/ddOIJGozWDdHDVNC4Cu6?p=preview -->
<!-- 
<ui-select ng-model="subjectClassSelector.selectedSubject" theme="bootstrap" >
    <ui-select-match placeholder="Select a subject...">{{$select.selected.text}}</ui-select-match>
    <ui-select-choices repeat="subject in subjects">
        {{subject.text}}
    </ui-select-choices>
</ui-select>
 -->

<select2 ng-model="subjectClassSelector.selectedSubject" s2-options="val.id as val.name for val in subjects" >
    
</select2>
