<div class="holderDiv">

	<div class="filler" ng-style="{'width':165 + (20* tree.coreqs.values.length)+'px','height':165 + (20* tree.coreqs.values.length)+'px'}">


		<div style="display:inline-block;left:0;bottom:0;position:absolute;width: 165px;height: 128px;">

			<div style="display:inline-block;position:relative;width: 165px;height: 128px;" 
			ng-include="'panel.html'" 
			ng-init = "this.baseZIndex = 100"></div>

			<div 
			class = "zIndexHover"
			style="display:inline-block;position:absolute;width: 165px;height: 128px;" 
			ng-repeat="tree in tree.coreqs.values"
			ng-init = "baseZIndex = 100-$index-1"
			ng-style="{'top':-($index*39+39)+'px','right':-($index*30+30)+'px'}"
			ng-include="'panel.html'"></div>

		</div>
	</div>
	<div ng-repeat="tree in tree.prereqs.values" ng-include="'graphInner.html'" style="display:inline-block;vertical-align:top"></div>
</div>