.cover-photo {
	position: relative;
	z-index: 9;
	text-align: center;
	height: 70vh;
	display: table;
	width: 100%;
	background-size: cover;
	background-position: center center;
	padding: 7% 17%;
	margin-bottom: 45px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	overflow: hidden;
}
@media screen and (max-width: 768px) {
	.cover-photo {
		min-height: 0;
		padding: 70px 17%;
	}
}

@media only screen and (min-width: 1447px) {
	.customImage{
		width: 700px;
		height 400px;
	}
	.leftImage{
		margin-left: -200px;
		width: 100%;
	}
}