
<style type="text/css">
.accordion-toggle:after {
    content: "" !important;
}
uib-accordion * {
	outline: 0 !important;
}

/*move the padding from the panel-heading to the accordion toggle*/
/*so clicking anywhere in the heading makes the panel expand and shrink*/
uib-accordion  .panel-heading {
	cursor: pointer;
    padding: 0;
}
uib-accordion .accordion-toggle {
	padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.rightIcon{
	float:right;
	padding-right: 7px;
}
.savedText{
	float: right;
    margin-top: -16px;
    color: #888;

}

.animate {
	-webkit-transition:all linear 0.5s;
	transition:all linear 0.5s;
}

.animate.ng-hide {
	opacity:0;
}

.alert {
	position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    padding-right: 35px;
}

</style>


<div class="container">
	<br>
	<div style="padding-top:41px"></div>
	<div ng-show ="settings.showAlertMsg" class="alert alert-info animate" role="alert">{{settings.alertMsgText}}</div>
	<div class="page-header">
		<h2 style="font-size:37px">
			{{user.dbData.name}}
		</h2>
		<div>{{user.dbData.email}}</div>
	</div>




	<div class="page-header">
		<h2>
			Saved Classses
		</h2>

	<span  ng-show="settings.getLoadingHidden()" class ="savedText animate">
		<span ng-if="settings.showLoadingText()">Loading...</span>
		<span ng-if="!settings.showLoadingText()">All changes saved</span>
	</span>
	</div>


	<div class-list></div>
</div>
